* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  
}
html, body {
  overflow-x: hidden;
}

/* header CSS start here  */
#header {
  background-color: #36393c;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid black;
  box-shadow: 0 0 10px #367fc4;
  z-index: 1000;
}

#logo {
  color: rgb(20, 209, 181);
  font-weight: bold;
}

.bg-color {
  background-color: rgb(20, 209, 181);
  color: #313030;
  padding: 2px 5px;
  border-radius: 10px;
}
#night {
  font-size: 18px;
  cursor: pointer;
}
.theme1 {
  color: white;
  padding: 10px;
  background-color: rgb(20, 209, 181);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.theme2 {
  color: white;
  padding: 10px;
  background-color: rgb(85, 82, 82);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.links {
  margin: 0px 15px;
}
.links a {
  padding: 5px;
  color: white;
  /* text-decoration: none; */
  font-size: 16px;
}

.links a:focus {
  color: rgb(20, 209, 181);
}
.menu-icon {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  #header {
    padding: 15px;
  }
  #logo {
    font-size: 18px;
  }
  .bg-color {
    padding: 1px 2px;
  }
  #night {
    font-size: 16px;
  }
  .theme1 {
    padding: 5px;
  }
  .theme2 {
    padding: 5px;
  }
  .links {
    margin: 0px 3px;
  }
  .links a {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  #navlinks {
    display:none;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 24px;
  }
}

/* header CSS end here  */

/* Home CSS start here  */

#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: #454b52;
}
.home-text {
  width: 50%;
}
#home h2 {
  font-size: 2rem;
  color: white;
}
#home h1 {
  color: white;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 20px;
}
#home p {
  color: white;
  font-size: 1rem;
  margin-bottom: 0px;
}
.social-icons a {
  margin: 2rem 1.3rem;
  font-size: 1.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 0.2rem solid rgb(20, 209, 181);
  border-radius: 50%;
  color: rgb(20, 209, 181);
  transition: all 0.6s ease;
}
.social-icons a:hover {
  background: rgb(20, 209, 181);
  color: #161b22;
  box-shadow: 0 0 1rem rgb(20, 209, 181);
}
.cv-btn {
  background-color: rgb(20, 209, 181);
  padding: 10px 20px;
  background: rgb(20, 209, 181) f;
  border: none;
  color: black;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 1rem rgb(20, 209, 181);
  transform: 0.6s ease;
}
.cv-btn:hover {
  transform: scale(1.02);
  box-shadow: none;
}
.resume-btn {
  color: black;
  text-decoration: none;
}
.profile-img img {
  border-radius: 10px;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  #home {
    flex-direction: column;
    height: 100%;
  }
  .home-text {
    width: 80%;
    margin-top: 200px;
    margin-left: 6rem;
  }
  .profile-img img {
    width: 28rem;
    height: 30rem;
    margin: 100px 0px;
  }
}
@media screen and (max-width: 768px) {
  .home-text {
    width: 100%;
    padding: 20px;
    margin-left: 1rem;
  }
  .profile-img img {
    width: 18rem;
    height: 25rem;
    margin: 50px 0px;
  }
  #home h2 {
    font-size: 1.2rem;
  }
  #home h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .social-icons a {
    margin: 2rem 1rem;
  }
}

/* Home CSS end here  */

/* About CSS start here  */

#about {
  background-color: #36393c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.about-img {
  height: 500px;
  width: 25vw;
  border-radius: 15px;
  margin-left: 120px;
  margin-top: 130px;
}
.about-text {
  padding-left: 20px;
}
.about-text h1 {
  font-size: 2.3em;
  margin-bottom: 7px;
}
.text-color {
  color: rgb(20, 209, 181);
}
.about-text h3 {
  margin-top: 0px;
}

.about-text p {
  margin: 30px 0px;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  #about {
    height: 100%;
    flex-direction: column-reverse;
  }

  .about-img {
    height: 70vh;
    width: 50vw;
    margin-left: 0rem;
    margin: 20px 0px;
  }
  .about-text {
    width: 90%;
    margin-top: 50px;
  }
  .about-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  .about-text p {
    font-size: 1.2rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #about {
    height: 100%;
  }
  .about-img {
    height: 70vh;
    width: 60vw;
  }
  .about-text h1 {
    font-size: 2em;
  }
  .about-text p {
    font-size: 1rem;
    width: 100%;
  }
}

/* About CSS end here  */

/* Skills CSS start here  */

#skills {
  background-color: #454b52;
  color: white;
  height: 100vh;
}
.heading {
  font-size: 36px;
  text-align: center;
  padding: 50px 0px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.skills-linear {
  width: 40%;
  background-color: #36393c;
  border-radius: 20px;
  padding: 20px;
}
.skills-linear .title {
  font-size: 26px;
  text-align: center;
  margin: 5px;
}
.skills-bar {
  padding: 0px 25px;
}
.skills-bar .skill {
  padding: 20px 0px;
  /* margin: 0px; */
}
.skills-bar .skill h3 {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.progress-bar {
  border: 1px solid rgb(20, 209, 181);
  height: 0.5rem;
  border-radius: 30px;
  background-color: #202d34;
}
.progress-bar span {
  display: block;
  height: 100%;
  border-radius: 30px;
}
.skills-linear:nth-child(1) .skills-bar .skill:nth-child(1) .progress-bar span {
  width: 85%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(1) .skills-bar .skill:nth-child(2) .progress-bar span {
  width: 70%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(1) .skills-bar .skill:nth-child(3) .progress-bar span {
  width: 65%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(1) .skills-bar .skill:nth-child(4) .progress-bar span {
  width: 60%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(1) .skills-bar .skill:nth-child(5) .progress-bar span {
  width: 60%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(1) .skills-bar .skill:nth-child(6) .progress-bar span {
  width: 75%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(2) .skills-bar .skill:nth-child(1) .progress-bar span {
  width: 90%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(2) .skills-bar .skill:nth-child(2) .progress-bar span {
  width: 70%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(2) .skills-bar .skill:nth-child(3) .progress-bar span {
  width: 80%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(2) .skills-bar .skill:nth-child(4) .progress-bar span {
  width: 85%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(2) .skills-bar .skill:nth-child(5) .progress-bar span {
  width: 80%;
  background-color: rgb(20, 209, 181);
}
.skills-linear:nth-child(2) .skills-bar .skill:nth-child(6) .progress-bar span {
  width: 75%;
  background-color: rgb(20, 209, 181);
}

@media screen and (max-width: 1024px) {
  #skills {
    height: 100%;
  }
  .heading {
    font-size: 3rem;
  }
  .skills-container {
    flex-direction: column;
    gap: 2rem;
    padding: 20px 0px;
  }
  .skills-linear {
    width: 70%;
    padding: 5px;
  }
  .skills-bar .skill {
    padding: 15px 0px;
  }
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 2rem;
    padding: 25px 0px;
  }
  .skills-linear {
    width: 90%;
    padding: 0px;
  }
  .skills-bar .skill {
    padding: 10px 0px;
  }
}

/* Skills CSS end here  */

/* Services CSS start here  */

#certificate {
  background-color: #36393c;
  color: white;
  height: 100vh;
}
.certificate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.certificate-box {
  width: 30%;
  height: auto;
  background-color: #454b52;
  border-radius: 20px;
  padding: 30px;
  margin: 15px;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: none;
}
.certificate-box:hover {
  box-shadow: 0 0 20px rgb(20, 209, 181);
  transform: scale(1.02);
}
.certificate-box i {
  font-size: 35px;
  color: rgb(20, 209, 181);
  margin-bottom: 20px;
}
.certificate-box h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.certificate-box p {
  padding: 15px 0px;
  margin-bottom: 20px;
}
.certificate-box img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  #certificate {
    height: 100%;
  }
  .certificate-container {
    flex-wrap: wrap;
    justify-content: none;
    align-items: none;
  }
  .certificate-box {
    flex-grow: 2;
    width: 45%;
    height: auto;
  }
  .certificate-box i {
    font-size: 50px;
  }
  .certificate-box h2 {
    font-size: 30px;
  }
  .certificate-box p {
    font-size: large;
  }
  .certificate-box img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 768px) {
  .certificate-box {
    flex-grow: 1;
    width: 95%;
    height: auto;
  }
  .certificate-box i {
    font-size: 30px;
  }
  .certificate-box h2 {
    font-size: 20px;
  }
  .certificate-box p {
    font-size: medium;
  }
  .certificate-box img {
    width: 50px;
    height: 50px;
  }
}
/* Services CSS end here  */

/* project CSS start here  */
#projects {
  background-color: #454b52;
  color: white;
  height: 110vh;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0px 30px;
}
.project-box {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  /* display: flex; */
  margin: 1rem;
}
.project-box img {
  width: 100%;
  transition: 0.3s ease;
}
.project-box img:hover {
  transform: scale(1.1);
}
.project-layer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  transform: translateY(100%);
  transition: 0.3s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(20, 209, 181));
}
.project-box:hover .project-layer {
  transform: translateY(0%);
}
.project-layer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.project-layer p {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}
.project-layer a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.project-layer a i {
  font-size: 20px;
  color: #11181b;
}
@media screen and (max-width: 1024px) {
  #projects {
    height: 100%;
  }
  .project-container {
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-layer h4 {
    font-size: 1.4rem;
  }
  .project-layer p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    margin: 0px 10px;
  }
  .project-layer h4 {
    font-size: 1.2rem;
  }
}
/* project CSS end here  */

/* Contact CSS start here  */

#contact {
  background-color: #36393c;
  color: white;
  height: 100vh;
}
#contact form {
  width: 60%;
  text-align: center;
  margin: 0px auto;
  padding: 5px;
}
.input-box {
  display: flex;
  justify-content: space-between;
}
.input-field {
  width: 55%;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #454b52;
  margin: 6px;
  border: none;
  color: white;
}
#query {
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #454b52;
  border: none;
  resize: none;
  width: 98%;
  margin: 6px;
  margin-bottom: 20px;
  padding: 15px;
  color: white;
}

@media screen and (max-width: 1024px) {
  #contact {
    height: 105vh;
  }
  #contact form {
    width: 85%;
  }
  .input-field {
    padding: 10px;
    font-size: 1.4rem;
    margin: 10px 6px;
  }
  #query {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  #contact form {
    width: 95%;
  }
  .input-box {
    display: flex;
    flex-direction: column;
  }
  .input-field {
    width: 100%;
    font-size: 1rem;
    margin: 5px 0px;
  }
  #query {
    font-size: 1rem;
    width: 98%;
  }
}
/* Contact CSS end here  */

/* Footer CSS start here  */
#footer {
  background-color: #202d34;
  padding: 20px;
  text-align: center;
  color: white;
  height: 100%;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-icon {
  background-color: #26353b;
  border: 3.5px solid rgb(20, 209, 181);
  border-radius: 30px;
  color: white;
  padding-right: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 80px;
  display: flex;
  align-items: center;
  transition: width 0.7s ease-in-out;
}
.footer-icon:hover {
  width: 350px;
}
.footer-icon i {
  font-size: 2.4rem;
  margin: 1px 15px;
  color: rgb(20, 209, 181);
}
.footer-icon span {
  opacity: 0;
  /* transform: translateX(-10px); */
  /* transition: all 1s ease-in-out; */
}

.footer-icon:hover span {
  opacity: 1;
  /* transform: translateX(0); */
}
@media screen and (max-width: 1024px) {
  .footer-icon {
    border: 3px solid rgb(20, 209, 181);
  }
  .footer-icon i {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-icon {
    width: 50px;
  }
  .footer-icon i {
    font-size: 1.5rem;
  }
}

/* Footer CSS end here  */
